/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  color: rgba(0, 0, 0, 0.86);
  font: 400 16px/1.42 -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.05em;
}
a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #006CFF;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 24px;
}
.site-header {
  padding: 48px 0;
  text-align: center;
}
.site-header .site-title {
  font-size: 32px;
  font-weight: bold;
}
.site-header .site-description {
  font-size: 16px;
  padding: 24px;
  color: #495057;
  font-weight: lighter;
}
.site-header .menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site-header .menu-container a.menu {
  font-size: 16px;
  padding: 8px 16px;
  flex-shrink: 0;
  font-weight: 600;
}
.site-header .avatar {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.site-header .social-container {
  padding: 16px;
  font-size: 18px;
}
.site-header .social-container a {
  margin: 4px 8px;
  color: #868e96;
}
@media (max-width: 600px) {
  .site-header {
    padding: 24px 0 0;
  }
  .site-header .avatar {
    width: 80px;
    height: 80px;
  }
}
.post-container {
  flex: 1;
}
.post-container .post {
  padding-bottom: 32px;
}
.post-container .post .post-title {
  font-size: 28px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-container .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post .post-info > span {
  color: #5E5E5E;
}
.post-container .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-container .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-container .post .post-feature-image {
  display: block;
  width: 100%;
  padding-top: 32.6%;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.post-container .post .post-feature-image img {
  width: 100%;
}
.post-container .post .post-feature-image:hover {
  transform: scale(1.0082);
}
.post-container .post .post-abstract {
  padding: 24px 0;
  line-height: 1.5;
  font-size: 16px;
}
.post-container .post .post-abstract strong {
  font-weight: bolder;
}
.post-container .post .post-abstract a {
  color: #006CFF;
  transition: all 0.3s;
}
.post-container .post .post-abstract a:hover {
  color: #0061e6;
  border-bottom: 1px dotted #0061e6;
}
.post-container .post .post-abstract code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: initial;
  word-wrap: break-word;
  text-indent: 0;
}
.pagination-container {
  padding: 32px 16px;
  overflow: hidden;
}
.pagination-container .prev-page {
  float: left;
}
.pagination-container .next-page {
  float: right;
}
.pagination-container .prev-page,
.pagination-container .next-page {
  padding: 6px 12px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.pagination-container .prev-page:hover,
.pagination-container .next-page:hover {
  border-bottom: 2px solid;
}
@media (max-width: 600px) {
  .post-container .post {
    padding: 16px 16px;
  }
  .post-container .post .post-title {
    padding: 16px 0;
    font-size: 24px;
  }
  .post-container .post .post-abstract {
    padding: 16px 0;
  }
  .post-container .post .post-feature-image {
    padding-top: 56.25%;
  }
}
.post-detail {
  flex: 1;
}
.post-detail .post {
  padding: 24px 32px;
}
.post-detail .post .post-feature-image {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  border-radius: 2px;
}
.post-detail .post .post-title {
  font-size: 32px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-detail .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-detail .post .post-info > span {
  color: #5E5E5E;
}
.post-detail .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-detail .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-detail .post .post-content-wrapper {
  display: flex;
}
.post-detail .post .post-content {
  width: 100%;
  flex-shrink: 0;
  font-family: "Droid Serif", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}
.post-detail .post .post-content a {
  color: rgba(0, 0, 0, 0.98);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.post-detail .post .post-content a:hover {
  color: #0061e6;
  border-bottom: 1px solid #0061e6;
}
.post-detail .post .post-content img {
  display: block;
  box-shadow: 0 0 30px #eee;
  max-width: 100%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-detail .post .post-content p {
  line-height: 1.62;
  margin-bottom: 1.12em;
  font-size: 16px;
  letter-spacing: 0.05em;
  hyphens: auto;
}
.post-detail .post .post-content p code,
.post-detail .post .post-content li code {
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  line-height: initial;
  word-wrap: break-word;
  border-radius: 0;
  background-color: #fff5f5;
  color: #c53030;
  padding: 0.2em 0.33333333em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.post-detail .post .post-content pre {
  margin-bottom: 1.5rem;
  padding: 0;
  position: relative;
}
.post-detail .post .post-content pre code {
  font-size: 0.96em;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.5;
}
.post-detail .post .post-content blockquote {
  color: #9a9a9a;
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
.post-detail .post .post-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: 700 62px/1 serif;
  color: rgba(0, 0, 0, 0.1);
}
.post-detail .post .post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-detail .post .post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-detail .post .post-content td,
.post-detail .post .post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-detail .post .post-content ul,
.post-detail .post .post-content ol {
  padding-left: 35px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-detail .post .post-content ul {
  list-style-type: square;
}
.post-detail .post .post-content h1,
.post-detail .post .post-content h2,
.post-detail .post .post-content h3,
.post-detail .post .post-content h4,
.post-detail .post .post-content h5,
.post-detail .post .post-content h6 {
  margin: 16px 0;
  font-weight: 700;
  padding-top: 16px;
}
.post-detail .post .post-content h1 {
  font-size: 1.8em;
}
.post-detail .post .post-content h2 {
  font-size: 1.42em;
}
.post-detail .post .post-content h3 {
  font-size: 1.17em;
}
.post-detail .post .post-content h4 {
  font-size: 1em;
}
.post-detail .post .post-content h5 {
  font-size: 1em;
}
.post-detail .post .post-content h6 {
  font-size: 1em;
  font-weight: 500;
}
.post-detail .post .post-content hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}
.post-detail .post .post-content hr:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  display: block;
  content: "* * *";
  text-align: center;
}
.post-detail .post .post-content mark {
  background: #faf089;
  color: #744210;
  padding: 0.2em;
}
.post-detail .post .post-content .footnotes {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
}
.post-detail .post .post-content .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
.post-detail .post .post-content .contains-task-list {
  list-style-type: none;
  padding-left: 30px;
}
.post-detail .post .post-content .task-list-item {
  position: relative;
}
.post-detail .post .post-content .task-list-item-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px 0 0;
  top: -1px;
  left: -22px;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:checked {
  transform: rotate(0);
}
.post-detail .post .post-content .task-list-item-checkbox:checked:before {
  border: transparent;
  background-color: #51cf66;
}
.post-detail .post .post-content .task-list-item-checkbox:checked:after {
  transform: rotate(-45deg) scale(1);
}
.post-detail .post .post-content .task-list-item-checkbox:checked + .task-list-item-label {
  color: #a0a0a0;
  text-decoration: line-through;
}
.post-detail .post .post-content .task-list-item-checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #9ae6b4;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:after {
  content: "";
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;
}
.next-post {
  text-align: center;
  padding: 24px 32px;
}
.next-post .next {
  margin-bottom: 24px;
  color: #343a40;
  font-weight: lighter;
}
.next-post .post-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
}
#gitalk-container,
#disqus_thread {
  padding: 24px 32px;
}
.toc-container .markdownIt-TOC {
  position: sticky;
  top: 32px;
  width: 200px;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
  padding: 16px 8px;
}
.toc-container .markdownIt-TOC:before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  width: 1px;
  background-color: #ebedef;
  opacity: 0.5;
}
.toc-container ul {
  list-style: none;
}
.toc-container li {
  padding-left: 16px;
}
.toc-container li a {
  color: #868e96;
  padding: 4px;
  display: block;
  transition: all 0.3s;
}
.toc-container li a:hover {
  background: #fafafa;
}
.toc-container li a.current {
  color: #006CFF;
  background: #fafafa;
}
@media (max-width: 600px) {
  .post-detail .post {
    padding: 16px;
  }
  .post-detail .post .post-title {
    font-size: 24px;
    padding: 16px 0;
  }
}
@media (max-width: 1150px) {
  .toc-container {
    display: none;
  }
}
.archives-container {
  padding: 32px;
  flex: 1;
}
.archives-container .year {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 24px 0 16px;
  color: #868e96;
  padding: 0 24px;
}
.archives-container .post {
  padding: 16px 24px;
  display: block;
}
.archives-container .post .post-title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.archives-container .post .time {
  font-size: 0.75rem;
  margin-top: 8px;
  color: #ced4da;
}
@media (max-width: 600px) {
  .archives-container {
    padding: 16px;
  }
}
.tags-container {
  padding: 32px 32px;
  flex: 1;
  text-align: center;
}
.tags-container .tag {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  background: #f8f9fa;
  color: #495057;
  border-radius: 2px;
  font-size: 14px;
}
.tags-container .tag:hover {
  background: #e9ecef;
  color: #212529;
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
.about-page {
  padding: 24px 32px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 40px 24px;
  color: #868e96;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rss {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f9f7f3;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

      .post-container .post .post-title {
        text-align: center;
      }
      .post-container .post .post-info {
        text-align: center;
      }
      .post-detail .post .post-title {
        text-align: center;
      }
      .post-detail .post .post-info {
        text-align: center;
      }
    
      body {
        font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue','PingFang SC','Hiragino Sans GB','Droid Sans Fallback','Microsoft YaHei',sans-serif;
      }
    
      @import 'vue/fonts.css';

:root {
    --side-bar-bg-color: #fff;
    --control-text-color: #777;
    --font-sans-serif: 'Ubuntu', 'Source Sans Pro', sans-serif !important;
    --font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans-serif);
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 100px;
}

#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
}

#write ol li {
    padding-left: 0.5rem;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}

a {
    color: #42b983;
    font-weight: 600;
    padding: 0 2px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}

h2 a,
h3 a {
    color: #34495e;
}

h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    line-height: 1.3;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 20px 0 7px;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    color: #777;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 15px;
    color: #777;
    background-color: rgba(66, 185, 131, .1);
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #fafafa;
}

table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

#write strong {
    padding: 0 1px;
}

#write em {
    padding: 0 5px 0 2px;
}

#write table thead th {
    background-color: #f2f2f2;
}

#write .CodeMirror-gutters {
    border-right: none;
}

#write .md-fences {
    border: 1px solid #F4F4F4;
    -webkit-font-smoothing: initial;
    margin: 0.8rem 0 !important;
    padding: 0.3rem 0 !important;
    line-height: 1.43rem;
    background-color: #F8F8F8 !important;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-size: 0.85rem;
    word-wrap: normal;
}

#write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
}

#write code, tt {
    padding: 2px 4px;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-size: 0.92rem;
    color: #e96900;
    background-color: #f8f8f8;
}

tt {
    margin: 0 2px;
}

#write .md-footnote {
    background-color: #f8f8f8;
    color: #e96900;
}

/* heighlight. */
#write mark {
    background-color: #EBFFEB;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #222;
    font-weight: 500;
}

#write del {
    padding: 1px 2px;
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #22a2c9;
}

.cm-s-inner .cm-string {
    color: #22a2c9;
}

.md-task-list-item > input {
    margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

.md-fences {
    background-color: #f8f8f8;
}

.md-diagram-panel {
    position: static !important;
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
    bottom: .375rem;
}

#write > h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write > h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write > h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image > .md-meta {
    border-radius: 3px;
    font-family: var(--font-monospace);
    padding: 2px 0 0 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: var(--font-sans-serif);
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

    